* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
  }

  /* root styling */
:root {
    --white: #fff;
    --font: Arial, Helvetica, sans-serif;
    --title-color: rgb(62, 88, 88);
}

/* body font setting */
body {
    font-family: var(--font);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* initial header styling */
header {
    background-color: rgb(62, 88, 88);
    color: var(--white);
    padding: 20px;
}

/* h1 font sizing */
header h1 {
    padding-top: 5px;
    font-size: 32px;
}

/* floats list to right */
header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/* removes default list styling */
header div ul {
    list-style-type: none;
}

/* better aesthetic spacing between list items */
header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* removes default <a> text decoration */
header div ul li a {
    color: var(--white);
    text-decoration: none;
}

/* for top background image */
.topbackground {
    height: 150px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* setup of row structure */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.titles {
    color: var(--title-color);
    font-size: 24px;
    border-right: 5px;
    border-right-style: solid;
    border-right-color: rgb(62, 88, 88);
    width: 20%;
    padding-top: 20px;
    padding-right: 20px;
    text-align: right;
}

.content-boxes {
    width: 80%;
    padding: 20px;
}

p {
    line-height: 150%;
}

.mainProject {
    display: flex;
    position: relative;
    height: 400px;
    width: 90%;
    margin: 20px;
    background-color: rgb(62, 88, 88);
    background-image: url("../assets/Images/Screen\ Shot\ 2022-05-19\ at\ 11.49.04\ AM.png");
    background-size: cover;
    color: var(--white);
}

.mp {
    position: absolute;
    top: 250px;
    bottom: 20px;
    background-color: rgb(62, 88, 88);
    padding: 20px;
    margin-bottom: 20px;
    line-height: 150%;
}

.website-link {
    color: var(--white);
    text-decoration: none;
}

.subproj {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: var(--white);
}

.sp {
    height: 300px;
    width: 40%;
    margin: 20px;
    
}

body div div div h2 p {
    font-weight: normal;
    font-size: 16px;
}

.p2 {
    background-image: url("../assets/Images/BCC5E5A4-9CDF-4F70-978C-2B8B0E55E056_1_105_c.jpeg");
    background-size: 350px;
}

.p3 {
    background-image: url("../assets/Images/927360A0-7109-4038-ADAA-2AE4E3F67E13_1_105_c.jpeg");
    background-size: 350px;
}

.p4 {
    background-image: url("../assets/Images/11365ACA-9257-4737-8654-C15D7A4CF524_1_105_c.jpeg");
    background-size: 350px;
}

.p5 {
    background-image: url("../assets/Images/48067B29-EB69-462E-89FF-5105DC25DEFB_1_105_c.jpeg");
    background-size: 350px;
}

.pcontent {
    position: absolute;
    background-color: rgb(62, 88, 88);
    padding: 20px;
    margin-bottom: 10px;
    line-height: 150%;
}

.pcontent:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgb(71, 137, 199);
}

.mp:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgb(71, 137, 199);
}

.CMli {
    list-style-type: none;
    display: inline-block;
    margin-right: 75px;
}

.ContactMeLinks {
    text-decoration: underline;
    color: rgb(62, 88, 88);
}

.ResumeAlink {
    text-decoration: underline;
    color: rgb(62, 88, 88);
}

@media screen and (max-width: 775px) {
    .sp {
        display: block;
        background-size: 350px;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex-direction: row;
        width: 100%;
    }
    .titles {
        border-right: none;
        border-bottom: 5px;
        border-bottom-style: solid;
        border-bottom-color: rgb(62, 88, 88);
    }
  }
